<div class="menu__friend_item">
    <div class="friend_item__avatar">
        <figure class="figure__avatar">
            <img src="{{avatar}}" alt="">
        </figure>
    </div>
    <div class="friend_item__messages">
        <p class="friend_item__messages__login">{{login_friend}}</p>
        <p class="friend_item__messages__message">{{message_friend}}</p>
    </div>
    <div class="friend_item__missed">
        <p class="friend_item__missed_date">{{message_date}}</p>
        <span class="friend_item__missed_quantity">{{missed_quantity}}</span>
    </div>
</div>
