<form id="form__registration" class="form__registration login-form__authorization">
    <div class="form__error_div">
        <span class="form__error_messages form_registration__error_first_name hide">Неверно указано имя</span>
        {{{inputFirstName}}}
    </div>

    <div class="form__error_div">
        <span class="form__error_messages form_registration__error_second_name hide">Неверно указана фамилия</span>
        {{{inputSecondName}}}
    </div>

    <div class="form__error_div">
        <span class="form__error_messages form_registration__error_login hide">Неверно указан логин</span>
        {{{inputLogin}}}
    </div>

    <div class="form__error_div">
        <span class="form__error_messages form_registration__error_email hide">Неверно указана почта</span>
        {{{inputEmail}}}
    </div>

    <div class="form__error_div">
        <span class="form__error_messages form_registration__error_number hide">Неверно указан номер телефона</span>
        {{{emailPhone}}}
    </div>

    <div class="form__error_div">
        <span class="form__error_messages form_registration__error_password hide">Неверно указан пароль</span>
        {{{inputPassword}}}
    </div>

    <div class="form__error_div">
        <span class="form__error_messages form_registration__error_repit_password hide">Пароли не совпадают</span>
        {{{inputRepitPassword}}}
    </div>    
    
    {{#buttonRegistr}}
        {{{ button class=this.class label=this.label onClick=this.onClick}}}
    {{/buttonRegistr}}
    {{{buttonSubmit}}}
</form>
