<div class="menu">
        <nav class="menu__contex-menu text_color_white bg_color_212A35 disabled">
            <ul class="context-menu__list">
                {{{liMenu}}}
            </ul>
        </nav>

        <div class="menu__addFriend menu__addFriend_position bg_color_212A35 text_color_white disabled">
            {{{createChat}}}
        </div>

        <div class="menu__search-menu bg_color_212A35">
            <figure class="context-menu__figure">
                {{{imageMenu}}}
            </figure>
            {{{inputSearch}}}
        </div>

        <div class="menu__friend_list">
            {{{friendList}}}
        </div>
</div>
